[submodule "repositories/modaclouds-mos-platform-packages"]
	path = repositories/modaclouds-mos-platform-packages
	url = ../modaclouds-mos-platform-packages.git
[submodule "repositories/modaclouds-components-platform-wrappers"]
	path = repositories/modaclouds-components-platform-wrappers
	url = ../modaclouds-components-platform-wrappers.git
